<mat-toolbar color="primary">
    <div>Ascribe: Your Release Notes Generator</div>
</mat-toolbar>

<mat-card>
    <div class="container">
        <div class="project">
            <div class="header">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Select Project</mat-label>
                    <mat-select name="openSourceProject" [(ngModel)]="projectSvc.project">
                        <mat-option [value]="null">--</mat-option>
                        @for (prj of projects; track prj.name) {
                            <mat-option [value]="prj">{{prj.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="primary" [disabled]="!projectSvc.project()"
                    [loading]="openAISvc.loadingNotes()" (click)="openAISvc.getProjectNotes()">{{
                    openAISvc.loadingNotes()? 'Generating... ': 'Generate Release Notes'
                    }}
                </button>
            </div>

            @if (projectSvc.project()) {
                <div>
                    <h2>Latest Release Items to generate notes: 👇🏻</h2>
                    <markdown [data]="projectSvc.project() | combineReleaseNotes">
                    </markdown>
                </div>
            }
            @else {
                <span style="width: calc(100% - 2em); padding: 2em;">
                    <ngx-skeleton-loader count="5" [theme]="{'height.px': 25}" appearance="line" [animation]="false"/>
                </span>
            }
        </div>
        <editor [apiKey]="env.TINY_MCE_API_KEY" [init]="tinyMCESvc.initializationOptions()"></editor>
    </div>
</mat-card>

<div class="footer">
    <a href="https://github.com/laudebugs/release-notes-generator">
        <mat-icon svgIcon="github"></mat-icon>
    </a>
</div>
<router-outlet></router-outlet>