<mat-toolbar color="primary">
    <span>Ascribe: Your Release Notes Generator</span>
</mat-toolbar>

<mat-card>
    <div class="container">
        <div class="project">
            <mat-form-field>
                <mat-label>Select Open Source Library</mat-label>
                <mat-select name="openSourceProject" [(ngModel)]="projectSvc.project">
                    @for (prj of projects; track prj.name) {
                        <mat-option [value]="prj">{{prj.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="!projectSvc.project" [loading]="openAISvc.loadingNotes()" (click)="openAISvc.getProjectNotes()">Generate Release Notes</button>
        </div>
        <editor [apiKey]="env.TINY_MCE_API_KEY"  [init]="tinyMCESvc.initializationOptions()"></editor>
    </div>
</mat-card>

<router-outlet></router-outlet>